.Display {
    background-color: black;
    color: white;
    text-align: right;
    font-size: 2em;
    border-radius: 15px;
    width: 95%;
    outline: none;
}
.Display:hover {
    cursor: default;
}